/* Genel Sayfa Arka Planý */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white; /* Yazýlarý beyaz yaparak okunaklý hale getir */
}

/* Tablo Stili */
.table {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black; /* Yazýlarý siyah yap */
}
